@import "~antd/lib/style/themes/default.less";

.detailClose {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
  transition: color .3s;
  color: @text-color-secondary;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 28px;
  &:hover {
    color: @text-color;
  }
}

.expensesTable {
  :global {
    .ant-table-thead > tr > th {
      background-color: #fafafa;
    }

    .ant-table-tbody > tr:nth-of-type(odd) {
      background-color: #f7f9fc;
    }

    .ant-table-tbody > tr:nth-of-type(even) {
      background-color: #f7f9fc;
    }
  }
}
