@import "~antd/lib/style/themes/default.less";

@public_path: "../../../../../../public";
@col-number: 20;
@cell: 60px;
@board_width: @col-number*(@cell + 1px) + 1px;
@ew_padding: 40px;
@template_primary_color: @primary-color;

.pcTemplate {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 1533px;
  > div {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .component {
    width: 240px;
    max-height: 900px;
    overflow: auto;
    margin-left: -20px;
    margin-right: 10px;
    padding-left: 20px;
    :global {
      .ant-tag {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
    .fields {
      margin-bottom: 40px;
    }
    .grids {
      :global {
        .ant-tag {
          float: left;
        }
      }
      > div {
        height: 30px;
      }
      > div > div {
        .toggleButton {
          float: left;
          margin-top: 9px;
          margin-right: 4px;
          color: @template_primary_color;
        }
        .horizontalLine {
          float: left;
          margin-top: 15px;
          border-top: 1px solid #bbb;
          width: 4px;
        }
        .gridFields {
          float: left;
          position: relative;
          padding-left: 4px;
          > div:after {
            content: "";
            clear: both;
            display: block;
          }
          .verticalLine {
            display: block;
            position: absolute;
            left: 0;
            height: 100%;
            width: 6px;
            overflow: hidden;
          }
          .verticalLine:after {
            content: "";
            display: block;
            height: 100%;
            width: 12px;
            border: 1px solid #bbb;
            border-right: none;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .component::-webkit-scrollbar {
    width: 3px;
    height: 100%;
  }
  .component::-webkit-scrollbar-track {
    border-right: 1px solid #eee;
  }
  .component::-webkit-scrollbar-thumb {
    background-color: #eee;
  }
  .template {
    padding: 37px 0;
    background-color: #fafafa;
    border: 1px dashed #999;
    border-radius: 4px;
    position: relative;
    .scaleHorizontal {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: ((@board_width + @ew_padding * 2) - ((@cell + 1px) * (@col-number + 1)))/2;
      > div {
        width: @cell;
        float: left;
        text-align: center;
        margin-left: 1px;
        font-size: 12px;
        > span {
          display: block;
          height: 6px;
          width: 1px;
          margin: 0 auto;
          background-color: rgba(153, 153, 153, 1);
        }
      }
    }
  }
  .dragShadow {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 10;
    .dragBorder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .gridRow {
      position: absolute;
      height: 100%;
      top: 0;
      padding: 1px 0;
      background-clip: content-box;
    }
    :global {
      .ant-tag, .ant-tag:hover {
        margin: 0;
        display: block;
        position: relative;
      }
    }
  }
}
