.pcTemplate {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  > div {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .component {
    width: 240px;
    .fields {
      margin-bottom: 40px;
    }
    .grids {
      :global {
        .ant-tag {
          float: left;
        }
      }
      > div:after {
        content: "";
        clear: both;
        display: block;
      }
      > div > div {
        .horizontalLine {
          float: left;
          margin-top: 15px;
          border-top: 1px solid #bbb;
          width: 4px;
        }
        .gridFields {
          float: left;
          position: relative;
          padding-left: 4px;
          > div:after {
            content: "";
            clear: both;
            display: block;
          }
          .verticalLine {
            display: block;
            position: absolute;
            left: 0;
            height: 100%;
            width: 6px;
            overflow: hidden;
          }
          .verticalLine:after {
            content: "";
            display: block;
            height: 100%;
            width: 12px;
            border: 1px solid #bbb;
            border-right: none;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .template {
    padding: 40px 0;
    background-color: rgba(250, 250, 250, 1);
    border: 1px dashed rgba(153, 153, 153, 1);
    border-radius: 4px;
    position: relative;
    .scaleHorizontal {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 2px;
      > div {
        width: 75px;
        float: left;
        text-align: center;
        margin-left: 1px;
        font-size: 12px;
        > span {
          display: block;
          height: 6px;
          width: 1px;
          margin: 0 auto;
          background-color: rgba(153, 153, 153, 1);
        }
      }
    }
    .board {
      padding: 1px 40px;
      width: 993px;
      height: 535px;
      overflow: scroll;
      position: relative;
      .scroller {
        width: 100%;
        background-color: #fff;
        background-image: url(/public/template_background.png);
        background-position: 1px 1px;
        .controls {
          position: relative;
        }
        .lineFocus {
          position: absolute;
          width: 100%;
          top: 2px;
          left: 0;
          > div {
            float: left;
          }
          .leftControl {
            width: 41px;
            line-height: 75px;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            color: #1890ff;
            opacity: 0.2;
          }
          .boxShadow {
            width: 911px;
            height: 75px;
            box-shadow: #1890ff 0 0 2px 0;
          }
          .rightControl {
            width: 41px;
          }
        }
      }
    }
    .board::-webkit-scrollbar {
      display: none;
    }
  }
  .dragShadow {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    opacity: 0.7;
    :global {
      .ant-tag, .ant-tag:hover {
        margin: 0;
      }
    }
  }
}
