@import "~antd/lib/style/themes/default.less";

@public_path: "../../../../../../public";
@cell: 75px;
@board_width: 913px;
@ew_padding: 40px;
@template_primary_color: @primary-color;
.pcTemplate {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  > div {
    float: left;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .component {
    width: 240px;
    .fields {
      margin-bottom: 40px;
    }
    .grids {
      :global {
        .ant-tag {
          float: left;
        }
      }
      > div {
        height: 30px;
      }
      > div > div {
        .toggleButton {
          float: left;
          margin-top: 9px;
          margin-right: 4px;
          color: @template_primary_color;
        }
        .horizontalLine {
          float: left;
          margin-top: 15px;
          border-top: 1px solid #bbb;
          width: 4px;
        }
        .gridFields {
          float: left;
          position: relative;
          padding-left: 4px;
          > div:after {
            content: "";
            clear: both;
            display: block;
          }
          .verticalLine {
            display: block;
            position: absolute;
            left: 0;
            height: 100%;
            width: 6px;
            overflow: hidden;
          }
          .verticalLine:after {
            content: "";
            display: block;
            height: 100%;
            width: 12px;
            border: 1px solid #bbb;
            border-right: none;
            border-radius: 6px;
          }
        }
      }
    }
  }
  .template {
    padding: 37px 0;
    background-color: #fafafa;
    border: 1px dashed #999;
    border-radius: 4px;
    position: relative;
    .scaleHorizontal {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 2px;
      > div {
        width: @cell;
        float: left;
        text-align: center;
        margin-left: 1px;
        font-size: 12px;
        > span {
          display: block;
          height: 6px;
          width: 1px;
          margin: 0 auto;
          background-color: rgba(153, 153, 153, 1);
        }
      }
    }
    .board {
      padding: 3px @ew_padding;
      width: 993px;
      height: 536px;
      overflow: scroll;
      position: relative;
      .scroller {
        width: 100%;
        background-color: #fefefe;
        .line {
          width: @board_width;
          height: @cell + 1px;
          background-image: url("@{public_path}/template_background.png");
          background-position: 1px 0;
          background-clip: content-box;
          position: absolute;
          box-sizing: content-box;
          transition: top 0.2s ease;
          .leftScale, .rightScale {
            position: absolute;
            width: @ew_padding + 1px;
            line-height: @cell;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            background-color: @template_primary_color;
            color: #fff;
            opacity: 0.2;
          }
          .leftScale {
            left: -@ew_padding - 1px;
          }
          .rightScale {
            right: -@ew_padding - 1px;
          }
        }
        .line:first-child {
          border-top: 1px dashed #ccc;
        }
        .controls {
          position: absolute;
          top: 3px;
          height: 0;
          .control.selected {
            z-index: 1;
          }
          .control {
            position: absolute;
            background-color: #fff;
            transition: left 0.05s ease, width 0.05s ease, top 0.2s ease, height 0.2s ease;
            .content {
              position: absolute;
              width: 100%;
              height: 100%;
              .clickBoard {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
              .clickBoard:hover {
                box-shadow: @template_primary_color 0 0 2px 0;
              }
              .clickBoardSelected {
                position: absolute;
                width: 100%;
                height: 100%;
                top: -1px;
                left: -1px;
                box-sizing: content-box;
                border: 1px solid @template_primary_color;
                > div {
                  width: 7px;
                  height: 7px;
                  border: 1px solid @template_primary_color;
                  background-color: #fff;
                  position: absolute;
                }
                .topResize {
                  cursor: ns-resize;
                  margin-left: -4px;
                  left: 50%;
                  top: -4px;
                }
                .bottomResize {
                  cursor: ns-resize;
                  margin-left: -4px;
                  left: 50%;
                  bottom: -4px;
                }
                .leftResize {
                  cursor: ew-resize;
                  margin-top: -4px;
                  top: 50%;
                  left: -4px;
                }
                .rightResize {
                  cursor: ew-resize;
                  margin-top: -4px;
                  top: 50%;
                  right: -4px;
                }
              }
            }
            .childrenBg {
              position: absolute;
              top: @cell;
              width: @board_width - 2px;
              background-image: url("@{public_path}/template_background.png");
              background-position: 0 1px;
            }
            .children {
              position: absolute;
              top: @cell;
              margin-left: -1px;
            }
          }
          .mask {
            background-color: rgba(0, 0, 0, 0.2);
            position: relative;
            width: @board_width;
          }
        }
      }
    }
    .board::-webkit-scrollbar {
      display: none;
    }
  }
  .dragShadow {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 10;
    :global {
      .ant-tag, .ant-tag:hover {
        margin: 0;
        display: block;
        position: relative;
      }
    }
  }
}
