.userInfo {
  .iconSpan {
    margin-right: 20px;
    :global {
      .anticon {
        margin-right: 5px;
      }
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 1px;
    }
  }
}
.leveSearchBtn {
  height: 30px;
  line-height: 28px;
  order: 5;
  flex-grow: 1;
  text-align: right;
}
.flexBox {
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
  font-weight: 400;
  .mobile {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
}
.splitBox {
  font-weight: 400;
  display: inline-block;
  width: 50%;
}
.tags {
  margin-bottom: 14px;
}
.card {
  border-radius: 5px;
  margin-bottom: 10px;
  p {
    margin-bottom: 10px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
