.userInfo {
  .iconSpan {
    margin-right: 20px;
    :global {
      .anticon {
        margin-right: 5px;
      }
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 1px;
    }
  }
}
.leveSearchBtn {
  height: 30px;
  line-height: 28px;
  order: 5;
  flex-grow: 1;
  text-align: right;
}
