.tags {
  width: 100%;
  .icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
  }
  .linker {
    cursor: pointer;
  }
  .edit {
    margin-left: 6px;
    margin-right: 4px;
    cursor: pointer;
  }
}

.typeinput {
  position: absolute;
  float: left;
  width: 242px;
  height: 39px;
  margin: -9px 0 0 -17px;
}
